@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300&family=PT+Sans&family=PT+Sans+Caption&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner {
  background-image: url('https://wallpapercave.com/wp/wp8375012.jpg');
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.title {
  font-family: 'PT Sans Caption', cursive;
  color: aliceblue;
  font-size: 50px;
  text-align: center;
  padding-top: 7%;
}

.title-text {
  font-family: 'PT Sans', cursive;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.title-text-2 {
  font-family: 'PT Sans Caption', cursive;
  color: #3939ab;
  font-size: 50px;
  text-align: center;
}

.message {
  text-align: center;
  background-color: #CECEE9;
  margin-left: 8%;
  margin-right: 8%;
  padding-top: 1%;
}

.row {
  text-align: center;
}